/emacs-config/auto*
/emacs-config/elpa
/emacs-config/config.el
/emacs-config/custom.el
/emacs-config/recentf
/emacs-config/transient
/emacs-config/cnfonts
/emacs-config/irony
/emacs-config/Server
/emacs-config/bookmarks
/emacs-config/org-roam.db
